@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --secondary-color-200: #d0dff6;
  --success-color: #10a11f;
  --error-color: #d90f0f;
  --warning-color: #fff849;
  --white: #fffcfc;
  --black-for-texts: #333131;
  --white-2: #fcfeff;
  --secondary-color-100: #e9eff8;
  --secondary-color-300: #87a1c9;
  --secondary-color-400: #6282b2;
  --grey-700: #424447;
  --grey-600: #4f5155;
  --grey-500: #6c6e71;
  --grey-400: #8a8b8e;
  --grey-200: #c4c5c6;
  --primary-color-300: #082553;
  --primary-color-200: #092c64;
  --primary-color-100: #adb9cb;
  --gc-600: #868b8f;
  --wc-1: #fffcfc;
  --desktop-background: url(images/homepage-bg.svg);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../images/homepage-bg.svg);
  background-size: cover;
  font-family: "Outfit", sans-serif;
  font-size: 14px;
}


a {
  font-family: "Outfit", sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

header {
  /* position: absolute; */
  background-color: var(--white);
  border-bottom: 1px solid var(--grey-400);
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  width: 100%;
  /* margin-bottom: 30px; */
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100px;
}

.logo {
  cursor: pointer;
  max-width: 200px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links ul {
  list-style-type: none;
  color: var(--primary-color-200);
  display: flex;
}

.nav-links li a {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
  margin: 0 10px;
  color: var(--primary-color-200);
  position: relative;
}

.nav-links .active a {
  font-weight: bold;
  color: var(--secondary-color-400);
  border-bottom: 2px solid var(--secondary-color-400);
}

.nav-links li a:hover {
  color: var(--secondary-color-400);
  font-weight: bold;
  transition: all .5s ease;
}


/* Nav for mobile view */

#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  position: absolute;
  left: 5%;
  top: 15%;
  display: none;
  transform: translateY(50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: var(--primary-color-300);
  transform: translateY(-50%);
  transition: all .3s ease-in-out;
}



/* Buttons */

button a {
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease 0s;
}

.Primary-button {
  padding: 8px 32px;
  border-radius: 8px;
  border: none;
  background-color: var(--primary-color-200);
  color: var(--white);
}


.Primary-button a {
  color: var(--white);
}


.Primary-button:hover {
  background-color: var(--secondary-color-400);
  transition: all .5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.25);
}

.Secondary-button {
  padding: 6px 32px;
  margin-right: 10px;
  border-radius: 8px;
  border: solid 1px var(--grey-600);
  background-color: transparent;

}

.Secondary-button a {
  color: var(--grey-600);
}

.Secondary-button:hover {
  background-color: var(--grey-200);
  transition: all .5s ease-in-out;
}


.btn-2 {
  padding: 6px 32px;
  border-radius: 8px;
  border: solid 1px var(--primary-color-300);
  color: var(--primary-color-300);
  background-color: transparent;
}

.btn-2 a {
  color: var(--primary-color-300);
}

.btn-2:hover {
  background-color: var(--secondary-color-200);
}

/* End of Header */


.container{  
  margin: 0;   
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 9fr 3fr;
  padding: 40px;
}

.wrapper .container{
  padding: 120px 0 20px;
  min-height: 100vh;
}


.container button{
  font-family: "Outfit", sans-serif;
}

.container .box1 {
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px var(--secondary-color-200);
  grid-row: span 30;
}

.box1 .cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box1 .content{
  flex-grow: 0;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  padding: 20px;
}

.page.active .title{
  padding: 16px 8px;
  font-size: 24px;
}

 .page.active input{
  padding: 12px;
  width: 200%;
  margin-top: 4%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid var(--secondary-color-200);
  border-radius: 5px;
  transition: all 0.3s ease;
}

.page .title{
  padding: 16px 8px;
  font-size: 24px;
}

#p2 input{
  padding: 12px;
  width: 200%;
  margin-top: 4%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid var(--secondary-color-200);
  border-radius: 5px;
  transition: all 0.3s ease;
}

#p3 textarea{
  padding: 12px;
  width: 250%;
  height: 100px;
  margin-top: 4%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid var(--secondary-color-200);
  border-radius: 5px;
  transition: all 0.3s ease;
}



#p4 input{
  padding: 12px;
  width: 40%;
  /* margin-top: 4%; */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid var(--secondary-color-200);
  border-radius: 5px;
  transition: all 0.3s ease;
}

#p4 textarea{
  padding: 12px;
  width: 100%;
  height: 100px;
  margin-top: 4%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid var(--secondary-color-200);
  border-radius: 5px;
  transition: all 0.3s ease;
}

#p5 input{
  padding: 12px;
  width: 200%;
  margin-top: 4%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid var(--secondary-color-200);
  border-radius: 5px;
  transition: all 0.3s ease;
}
#p6 input{
  padding: 12px;
  width: 200%;
  margin-top: 4%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid var(--secondary-color-200);
  border-radius: 5px;
  transition: all 0.3s ease;
}
#p7 input{
  padding: 12px;
  width: 80%;
  margin-top: 4%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid var(--secondary-color-200);
  border-radius: 5px;
  transition: all 0.3s ease;
}
#p8 input{
  padding: 12px;
  width: 80%;
  margin-top: 4%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid var(--secondary-color-200);
  border-radius: 5px;
  transition: all 0.3s ease;
}

#p9 input{
  padding: 12px;
  width: 200%;
  margin-top: 4%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid var(--secondary-color-200);
  border-radius: 5px;
  transition: all 0.3s ease;
}

input:focus{
  border-color: transparent;
  /* background-color: #082553; */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid var(--secondary-color-200);
}

.box1 button{
  height: 40px;
  margin-top: 8px;
  color: var(--grey-400);
  background-color: var(--secondary-color-100);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.box1 button:hover{
  background-color: var(--secondary-color-300);
  color: var(--white);
  /* cursor: pointer; */
}

.box1 .card1{
  width: 120px;
  padding: 10px;
}
.box1 .card2{
  width: 120px;
  padding: 10px;
}
.box1 .card3{
  width: 120px;
  padding: 10px;
}
.box1 .card4{
  width: 120px;
  padding: 10px;
}
.box1 .card5{
  width: 120px;
  padding: 10px;
}

.box1 button{
  width: 120px;
  padding: 6px;
}

  .page{display: none;}
  .page.active {display: block;}



.container .box2{
  min-width: 200px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--white-2);
  grid-row: span 30;
  align-items: center;
  
}

.box2 img{
  max-width: 80%;
  /* margin: auto; */
  padding: 10%;
}

.box2 .btn1{
  width: 160px;
  height: 40px;
  padding: 5px;
  margin-left: 27px;
  border: 1px solid var(--secondary-color-400);
  border-radius: 8px;
  color: var(--secondary-color-100);
  background-color: var(--primary-color-200);
  cursor: pointer;
}

.box2 .btn1:hover{
  background-color: var(--primary-color-100);
}

.box2 .btn2{
  width: 160px;
  padding: 10px;
  margin-left: 27px;
  border: 1px solid var(--secondary-color-400);
  border-radius: 8px;
  color: var(--secondary-color-400);
  background-color: var(--white);
  margin-top: 26px;
  cursor: pointer;
}

.box2 .btn2:hover{
  background-color: var(--primary-color-100);
}


/* Bottom Footer */

footer {
  position: relative;
  bottom: 0;
}

.bottom_footer {
  background-color: var(--primary-color-300);
  padding: 15px 0;
  margin-top: 20px;

}

.footer_2 {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 14px;
}

.footer_2 span {
  color: var(--secondary-color-400)
}

.footer_2 p {
  color: var(--white);
  width: 80%
}

.bottom_footer a {
  color: var(--wc-1);
  text-decoration: none;
}


@media screen and (max-width: 841px) {
  body {
    background-image: none;
    background-color: #fff;
  }

  .logo {
    float: none;
    margin: auto;
  }

  .nav-links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    /* flex-direction: column; */
    overflow: hidden;
    background-color: var(--secondary-color-200);
    transition: all .5s ease-in-out
  }

  .nav-links ul {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .nav-links li a {
    font-weight: bolder;
    margin: 10px 0;
    padding: 20px 0;
  }


  .nav-links li a:hover {
    border: none;
    background-color: var(--secondary-color-300);
    transition: all .5s ease;
  }

  .nav-links .nav-button {
    display: none;
  }

  nav .icon-burger {
    display: block;
  }

  .nav-links {
    flex-direction: column;
  }

  nav :checked~.nav-links {
    bottom: 0;
  }

  nav :checked~.icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }

  nav :checked~.icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }

  nav :checked~.icon-burger .line:nth-child(2) {
    opacity: 0;
  }

  .nav-button .Secondary-button {
    display: none;
  }

  .navbar .wrapper,
  .middle_footer .wrapper,
  .middle_footer .footer_info,
  .middle_footer .md_footer_info {
    display: block;
    padding: 10px 20px;
    text-align: center;
  }

  .Secondary-button {
    margin-right: 0;
  }

  /* Sidebar */

  .sidebar {
    display: none;
  }

  .container {    
    display: block;
    margin: auto;
    width: 100%;    
    padding: 50px 20px;
  }

  .container .box1 {      
    border: solid 1px var(--white-2);
    box-shadow: none;
  
  }

  .box1 .cards{
    flex-wrap: wrap;
  }

  .box1 .content{
    margin: 20px 0;
  }

  .container .box2 {
    box-shadow: none;
    margin: auto;
    padding: 0;
    width: 80%;
    display: block;
  }

  .box2 .btn1{
    padding: 0;
    text-align: center;
    width: 80%;    
    display: block;
  }

  .box2 .btn2 {
    width: 80%;

    /* text-align: center; */

  }

  .box2 img{
    width: 100%;
    margin-left: 20px;    
  }


}