{% load static %}


{% block main_footer %}
<div class="main_footer">
  <div class="top_footer">
    <div>
      <h4>Don't miss out!</h4>
      <p>Do you like discounts, specials offers and rewards?</p>
    </div class="form-edit">
      <form action="" method=""> <!--! fix to send mail Later-->
        <input type="email" class="mail" placeholder="Email" class="">          
        <button type="submit" class="footer-button">Subscribe Now </button>
      </form>
  </div>    
</div>
{% endblock main_footer %}