{% load static %}


{% block mid_footer %} 
<hr>
<div class="middle_footer">
<p class="md_footer_info">Enjoy seamless and efficient generation of qr codes. Create various
  styles for your qr codes using the various designs available</p>

<div class="footer_info">
  <p>QR Planet</p>
  <ul>
    <li><a href="#">How to generate QR codes</a></li>
    <li><a href="#">Dynamic QR codes</a></li>
    <li><a href="#">Static QR codes</a></li>
  </ul>
</div>

<div class="footer_info">
  <p>Why us?</p>
  <ul>
    <li>Product features</li>
    <li>About us</li>
    <li>FAQs</li>
  </ul>
</div>

<div class="footer_info">
  <p>API</p>
  <ul>
    <li>API docs</li>
  </ul>
</div>      

<div class="footer_info">
  <p>Contact</p>
  <!-- <div class="socials"> -->
  <img src="{% static 'base/images/Twitter.png' %}" alt="Twitter" height="24px"/>
  <img src="{% static 'base/images/Facebook.png' %}" alt="Facebook" height="24px" />
  <img src="{% static 'base/images/Linkedin.png' %}" alt="Linkedin" height="24px" />
  <!-- </div> -->
</div>
</div>
{% endblock mid_footer %}
