
{% load static %}

        
{% block middle_footer %} 
<div class="middle_footer">
    <div class="wrapper">
        <div class="md_footer_info">
            <p>Enjoy seamless and efficient generation of qr <br> codes. Create various styles for your qr codes using <br> the various designs available</p>
        </div>

        <div class="footer_info">
            <p>QR Planet</p>
            <ul>
                <li><a href="#">How to generate QR codes</a></li>
                <li><a href="#">Dynamic QR codes</a></li>
                <li><a href="#"></a>Static QR codes</li>
            </ul>
        </div>

          <div class="footer_info">
            <p>Why us?</p>
            <ul>
                <li><a href="#">Product features</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#"></a>FAQs</li>
            </ul>
        </div>

          <div class="footer_info">
            <p>API</p>
            <ul>
                <li><a href="#">API docs</a></li>
            </ul>
        </div>

          <div class="footer_info">
            <p>Contact</p>
            <a href="https://twitter.com/SimpleNick6"><img src="{% static 'qr_generator/images/Twitter.png'%}" alt="Twitter" height="24px"/></a>
            <img src="{% static 'qr_generator/images/Facebook.png'%}" alt="Facebook" height="24px" />
            <img src="{% static 'qr_generator/images/Linkedin.png'%}" alt="Linkedin" height="24px" />                    
        </div>            
    </div>  
</div>
{% endblock middle_footer %}
