{% extends 'qr_generator/index.html' %}
{% load static %}
<!-----------------Leave here for header------------->
<!-------------------end header---------------------->


{% block content %}


<section>
    <article class="buttons">
        <button href="{% url 'category' pk="image" %}" >Image</button>
        <button href="{% url 'category' pk="pdf" %}" >Pdf</button>
        <button href="{% url 'category' pk="url" %}" >Url</button>

    </article>

</section>



    <form action="{% url 'qr_generator:generator'%}" method="post">
        {% csrf_token%}
        <input type="text" name="data" id="data">
        <input type="submit">
    </form>

    <div>
        {% if qr_image %}
        <h4>Your QR Code is:</h4>
            <img src="{{qr_image}}" alt="" width="200px" height="200px">
        {% endif %}
    </div>
    
{% endblock content %}


<!-----------------Leave here for footer--------->
{% block top_and_middle_footer %}
    {# - just override the mid section-#}
{% endblock top_and_middle_footer %}
<!-------------------end footer---------------------->