{% extends 'base.html' %}
{% load static %}
<!-----------------Leave here for header------------->
<!-------------------end header---------------------->

{% block title %}
{% endblock title %}

{% block style %}
{% endblock style %}

{% block content %}
    <!--Your Logic Here-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <!-- <div class="wrapper"> -->
        <img class="logo" src="logo.svg" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Qr code</a></li>
                <li><a href="#">Why us</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="act">
        <a href="#"><button>Login</button></a>
        <a href="#"><button>Get started</button></a>
        </div>
    </div>
    </header>
    <!-- header end -->
    <!-- hero section start -->
    <section class="home">
        <div class="container">
                <div class="home-text">
                    <h1>The #1 Fast</h1>
                    <h1>QR Code Generator <br /> for everyone</h1>
                    <p>stand out with quality trackable QR codes for an every <br />expanding usecase</p>
                <div class="btn-wrap">
                    <a href="#" class="btn">get started</a>
                <!-- </div>
                <div class="btn-wrap"> -->
                    <a href="#" class="btn">learn more</a>
                </div>
                </div>
                <div class="home-img">
                    <img src="hero.png" alt="img">
                </div>
        </div>
    </section>
    <!--  -->

</body>
</html>
{% endblock content %}


<!-----------------Leave here for footer--------->
<!-------------------end footer---------------------->