asgiref==3.5.2
certifi==2022.6.15
charset-normalizer==2.1.0
commonmark==0.9.1
coreapi==2.3.3
coreschema==0.0.4
coverage==6.4.3
defusedxml==0.7.1
Django==4.0.6
django-cors-headers==3.13.0
django-social-share==2.3.0
djangorestframework==3.13.1
drf-yasg==1.21.3
httpie==3.2.1
idna==3.3
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.2
MarkupSafe==2.1.1
multidict==6.0.2
mysqlclient==2.1.1
packaging==21.3
Pillow==9.2.0
psycopg==3.0.15
Pygments==2.12.0
PyJWT==2.4.0
pyparsing==3.0.9
PySocks==1.7.1
pytz==2022.1
qrcode==7.3.1
requests==2.28.1
requests-toolbelt==0.9.1
rich==12.5.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
sqlparse==0.4.2
tomli==2.0.1
tomli_w==1.0.0
tomlkit==0.11.1
uritemplate==4.1.1
urllib3==1.26.10
