<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.5/css/unicons.css">
    <link rel="stylesheet" href="changepassword.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="forms">
            <div class="change_password">
                <p class="title">Change your password here</p>
                <form action="#" method="POST">
                    <div class="input-field">
                        <input type="password" placeholder="" required>
						<span>Enter your password</span>
                        <i class="uil uil-eye-slash showHidePw" ></i>
                    </div>
                    <div class="input-field">
                        <input type="password" placeholder="" required>
						<span>Confirm your password</span>
                        <i class="uil uil-eye-slash showHidePw" ></i>
                    </div>
                    <div class="button">
                        <input type="button" value="Submit" required>
                    </div>
                </form>

               
            </div>
        </div>
    </div>    
</body>
</html>