{% extends 'base/base.html'%}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'qr_generator/css/home.css'%}" />
{% endblock style%}
    
{% block header %}{% include 'base/header.html'%}{% endblock header %}

{% block content %}
<section class="hero-section">
    <div class="container">
        <div class="hero-sec">
            <div class="hero-text">
                <h1> The <span class="highlight">#1 Fast</span> <br> QR Code
                    Generator <br>
                    for everyone</h1>
                <p>Stand out with quality trackable QR codes for an<br />every
                    expanding usecase
                </p>
                <button class="btn-1">Get started</button>
                <button class="btn-2">Learn more</button>
            </div>
            <div class="hero-image">
                <img src="{% static 'qr_generator/svg/hero.svg' %}" alt="hero-image" />
            </div>
        </div>

    </div>
</section>
<!--  -->

<section class="middle-section">
    <div class="Why-Qr">
        <div class="intro-text1">Why QR Planet <span>&quest;</span></div>
        <div class="text1">
            Qr Planet offers seamless and efficient generation of qr codes. You
            can<br />
            create various styles for your qr codes using the various designs<br
                />
            available.
        </div>
    </div>

    <div class="Get-onboard">
        <div class="intro-text2">Get Onboard<span>&excl;</span></div>
        <div class="text2">Simple Steps&comma; Endless Possibilities.</div>
        <div class="process"></div>
        <div><button class="btn3">Get Started</button></div>
    </div>

    <div class="What-we-do">
        <div class="intro-text3">What We Do</div>
        <div class="text3">
            Quickly and easily generate secure&comma; dynamic&comma; trackable QR codes to
            optimize your engagement levels for personal or business needs.
        </div>
        <div class="features"></div>
    </div>

</section>

{% endblock content %}

{% block main_footer %} {% include 'base/main_footer.html' %} {% endblock main_footer %}

{% block mid_footer %} {% include 'base/mid_footer.html' %} {% endblock mid_footer %}

{% block bottom_footer %} {% include 'base/bottom_footer.html' %} {% endblock bottom_footer %}


