<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link rel="stylesheet" href="contact.css" />
	<link rel="shortcut icon" href="images/icon.png" type="image/png">
  </head>

  <body>
    <header>
      <!-- <div class="wrapper"> -->
      <div class="inner-header">
        <img class="logo" src="images/logo.svg" alt="logo" />
        <nav>
          <ul class="nav_links">
            <li><a href="#">Home</a></li>
            <li><a href="#">QR code</a></li>
            <li><a href="#">Why us?</a></li>
            <li><a href="#">API</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <button type = "submit" href="#" class="Secondary-button">Login</button></a>
          <button type = "submit" href="#" class="Primary-button">Get started</button>

      </div>
        </nav>
    </header>
      <!-- header end -->
   <section>
		<div class="contact">
            <div class="form">
                <p class="title">We value your feedback</p>
				<!-- 
				can seem to style the exclamation mark
				
				<span class="span">!</span>
				
				-->
                <p class="sub-title">Have a question, comment or ocmplaints? We are all Ears</p>
                <form action="#" method="POST">
                    <div class="input-field">
                        <input type="text" name="name" placeholder="Fullname" required>
                    </div>
                    <div class="input-field">
                        <input type="email" name="email" placeholder="Email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" name="subject" placeholder="Subject of mail" required>
                        <i class="uil uil-eye-slash showHidePw" ></i>
                    </div>

                    <!--
                      can't seem to style this either
                    <div class="input-field">
                        <textarea type="text" name="message" placeholder="Enter message"></textarea>
                        <i class="uil uil-eye-slash showHidePw" ></i>
                    </div>
                    -->

                    <div class="input-field button">
                        <input type="button" value="Send your message" required>
                    </div>
                </form>

                <div class="socials">
						<!-- can't seem to style this also -->
						<img src="images/Twitter.png" alt="Twitter" height="30px"/>
						<img src="images/Facebook.png" alt="Facebook" height="30px" />
						<img src="images/Linkedin.png" alt="Linkedin" height="30px" />
					  <!-- </div> -->
				 </div>
            </div>
        </div>
   </section>
	
	

 <!-- footer start -->
<footer>
  <div class="main_footer">
    <div class="top_footer">
      <div>
        <h4>Don't miss out!</h4>
        <p>Do you like discounts, specials offers and rewards?</p>
      </div>
        <form>        
          <input type="email" class="mail" placeholder="Email" class="">          
          <button type="submit" class="footer-button">Subscribe Now </button>
        </form>
    </div>    
  </div>
   <hr>

    <div class="middle_footer">
      <p class="md_footer_info">Enjoy seamless and efficient generation of qr codes. Create various styles for your qr codes using the various designs available</span></p>
      <div class="footer_info">
        <p>QR Planet</p>
        <ul>
          <li><a href="#">How to generate QR codes</a></li>
          <li><a href="#">Dynamic QR codes</a></li>
          <li><a href="#">Static QR codes</a></li>
        </ul>
      </div>

      <div class="footer_info">
          <p>Why us?</p>
        <ul>
          <li>Product features</li>
          <li>About us</li>
          <li>FAQs</li>
          </ul>
      </div>
      <div class="footer_info">
        <p>API</p>
        <ul>
          <li>API docs</li>
        </ul>
      </div>      
      <div class="footer_info">
        <p>Contact</p>
        <!-- <div class="socials"> -->
        <img src="images/Twitter.png" alt="Twitter" height="30px"/>
        <img src="images/Facebook.png" alt="Facebook" height="30px" />
        <img src="images/Linkedin.png" alt="Linkedin" height="30px" />
      <!-- </div> -->
  </div>
</div>
  <hr>  
<div class="bottom_footer">
    <div class="footer_2">
      <p> <span> 2022 </span> QR Planet; All Rights Reserved &copy;</p>      
      <a href="#">Report</a>
</div>

</div>

</footer>
</html>