
:root {
    --secondary-color-200: #d0dff6;
    --success-color: #10a11f;
    --error-color: #d90f0f;
    --warning-color: #fff849;
    --white: #fffcfc;
    --black-for-texts: #333131;
    --white-2: #fcfeff;
    --secondary-color-100: #e9eff8;
    --secondary-color-300: #87a1c9;
    --secondary-color-400: #6282b2;
    --grey-700: #424447;
    --grey-600: #4f5155;
    --grey-500: #6c6e71;
    --grey-400: #8a8b8e;
    --grey-200: #c4c5c6;
    --primary-color-300: #082553;
    --primary-color-200: #092c64;
    --primary-color-100: #adb9cb;
    --gc-600: #868b8f;
    --wc-1: #fffcfc;
    --desktop-background: url(../svg/homepage-bg.svg);
  }