@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../svg/login_home.svg');
    background-size: 90%;
}

.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    border-radius: 8px;
    border: solid 1px var(--secondary-color-200);
}

.container .forms{
    padding: 30px;
}

.container .form .title{
    /* position: relative; */
    font-size: 37px;
    font-weight: 600;
    text-align: center;
    color: var(--primary-color-300);
    /* align-items: center; */
}

.container .form .sub-title{
    /* position: relative; */
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: var(--primary-color-300);
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding: 0 8px;
    border-radius: 8px;
    border: solid 1px var(--secondary-color-200);
    transition: all 0.3s ease;
    /* color: var(--primary-color-100); */
}  

.input-field input:is(:focus, :valid){
    background-color: #e9e9e9;
}

.input-field i{
    position: relative;
    float: right;
    top: 50%;
    left: 0;
    /* margin-left: -30px;  */
    padding: 0 15px;
    cursor: pointer;
    transform: translateY(-50%);
}

.input-field input:is(:focus, :valid) ~ i{
    color: var(--primary-color-300);
}

.input-field i.showHidePw{
    right: 0;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px 4px;
    accent-color: var(--primary-color-200);
}

.form .text{
    color: var(--secondary-color-400);
    font-size: 14px;
}

.form a.text{
    color: var(--primary-color-200);
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 25px; 
}
.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: var(--primary-color-300);
    cursor: pointer;
    transition: all 0.3 ease;
}

.button input:hover{
    background-color: var(--primary-color-200);
}

.form .login-signup {
    margin-top: 30px;
    text-align: center;
}

.login-signup .text{
    font-size: 17px;
}