<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.5/css/unicons.css">
    <link rel="stylesheet" href="style.css">
    <title>Generate QR</title>
</head>
<body>
    <!-- header -->
    <header>
        <div class="wrap">
          <img class="logo" href="#" src="logo.svg" alt="logo" />
          <nav class="navbar">
            <input type="checkbox" name="" id="nav-toggle">
            <div class="nav-links">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">QR Code</a></li>
                <li><a href="#">Why us?</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
              <div class="nav-button">
                <button type = "submit" class="Secondary-button"><a href="#">Login</a></button>
                <button type = "submit" class="Primary-button"><a href="#">Get Started</a></button>
              </div>
            </div>            
            <label for="nav-toggle" class="icon-burger"> 
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div> 
            </label>  
          </nav>
        </div> 
    </header>
    
    
    <div class="wrapper">
        <div class="options">
            <div class="features">

                <div class="feature 1">
                    <a href="#">
                        <button>
                            <span><i class="uil uil-link"></i></span>
                            <span class="text">URLS/Link</span>
                        </button>
                    </a>
                </div>

                <div class="feature">
                    <a href="#">
                        <button>
                            <span><i class="uil uil-scenery"></i></span>
                            <span class="text">Image</span>
                        </button>
                    </a>
                </div>

                
                <div class="feature">
                    <a href="#">
                        <button>
                            <span><i class="uil uil-file-plus"></i></span>
                            <span class="text">PDF</span>
                        </button>
                    </a>
                </div>

                <div class="feature">
                    <a href="#">
                        <button>
                            <span><i class="uil uil-share-alt"></i></span>
                            <span class="text">Socials</span>
                        </button>
                    </a>
                </div>

                <div class="feature">
                    <a href="#">
                        <button>
                            <span><i class="uil uil-map-marker"></i></span>
                            <span class="text">Location</span>
                        </button>
                    </a>
                </div>

                <div class="feature">
                    <a href="#">
                        <button>
                            <span><i class="uil uil-envelope"></i></span>
                            <span class="text">Email</span>
                        </button>
                    </a>
                </div>

                <div class="feature">
                    <a href="#">
                        <button>
                            <span><i class="uil uil-paypal"></i></span>
                            <span class="text">PayPal</span>
                        </button>
                    </a>
                </div>

                <div class="feature">
                    <a href="#">
                        <button>
                            <span><i class="uil uil-google-play"></i></span>
                            <span class="text">App Store</span>
                        </button>
                    </a>
                </div>

                <div class="feature">
                    <a href="#">
                        <button>
                            <span><i class="uil uil-github-alt"></i></span>
                            <span class="text">GitHub</span>
                        </button>
                    </a>
                </div>

                <div class="feature">
                    <a href="#">
                        <button>
                            <span><i class="uil uil-whatsapp"></i></span>
                            <span class="text">Whatsapp</span>
                        </button>
                    </a>
                </div>

                <div class="feature">
                    <a href="#">
                        <button>
                            <span><i class="uil uil-video"></i></span>
                            <span class="text">Zoom</span>
                        </button>
                    </a>
                </div>

                <div class="feature">
                    <a href="#">
                        <button>
                            <span><i class="uil uil-bitcoin-circle"></i></span>
                            <span class="text">Bitcoin</span>
                        </button>
                    </a>
                </div>

                <div class="feature">
                    <a href="#">
                        <button>
                            <span><i class="uil uil-phone-volume"></i></span>
                            <span class="text">Phone</span>
                        </button>
                    </a>
                </div>

                <div class="feature">
                    <a href="#">
                        <button>
                            <span><i class="uil uil-dollar-alt"></i></span>
                            <span class="text">Bank Details</span>
                        </button>
                    </a>
                </div>

                
                <div class="feature">
                    <a href="#">
                        <button>
                            <span> <i class="uil uil-favorite"></i></span>
                            <span class="text">Rating</span>
                        </button>
                    </a>
                </div>

                
                <div class="feature">
                    <a href="#">
                        <button>
                            <span> <i class="uil uil-file-alt"></i></span>
                            <span class="text">Text</span>
                        </button>
                    </a>
                </div>

                
                <div class="feature">
                    <a href="#">
                        <button>
                            <span><i class="uil uil-music"></i></span>
                            <span class="text">Music</span>
                        </button>
                    </a>
                </div>

                <div class="feature">
                    <a href="#">
                        <button>
                            <span><i class="uil uil-calender"></i></span>
                            <span class="text">Event</span>
                        </button>
                    </a>
                </div>

                <div class="feature">
                    <a href="#">
                        <button>
                            <span><i class="uil uil-wifi"></i></span>
                            <span class="text">Wifi</span>
                        </button>
                    </a>
                </div>

                <div class="feature">
                    <a href="#">
                        <button>
                            <span><i class="uil uil-users-alt"></i></span>
                            <span class="text">VCard</span>
                        </button>
                    </a>
                </div>

            </div>

            <div class="link">
                <h2>Github</h2>
                <input type="text" placeholder="Input your github profile link" name="link"/>
                <p>This will direct clients to your github profile when your QR code is scanned.</p>
            </div>
        </div>

        <div class="generate">
            <div class="img">
                <img src="images/qr-code.png" alt="qr code image">
            </div>
            
            <div>
                <a href="#">
                    <button class="btn-1">
                        <span class="text">Generate QR</span>
                        <span><i class="uil uil-qrcode-scan"></i></span>  
                    </button>
                </a>
            </div>

            <div>
                <a href="#">
                    <button class="share">
                        <span><i class="uil uil-share-alt"></i></span>
                        <span class="text">Share</span>  
                    </button>
                </a>
            </div>

            <div>
                <a href="#">
                    <button class="download">
                        <span><i class="uil uil-import"></i></span> 
                        <span class="text">Download</span> 
                    </button>
                </a>
            </div>

        </div>
    </div>

        
    
 
    

    <footer>
        <div class="wrap">
            <p><span>2022</span> QR Planet; All Rights Reserved</p>
            <a href="#">Report</a>

        </div>
        
    </footer>
  


</body>
</html>