{% load static %}


{% block style %}

{% endblock style %}
    

{% block header %}


<div class="wrapper">
    <img class="logo" href="#" src="{% static 'qr_generator/images/logo.svg'%}" alt="logo" />
    <nav class="navbar">
      <input type="checkbox" name="" id="nav-toggle">
      <div class="nav-links">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Generate QR Code</a></li>
          <li><a href="#">Why us?</a></li>
          <li><a href="#">API</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <div class="nav-button">
          <button type = "submit" class="Secondary-button"><a href="#">Login</a></button>
          <button type = "submit" class="Primary-button"><a href="#">Get Started</a></button>
        </div>
      </div>            
      <label for="nav-toggle" class="icon-burger"> 
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div> 
      </label>  
    </nav>
  </div>
    
{% endblock header%}