<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.5/css/unicons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <aside class="sidebar">
            <ul>
                <li><a href="#"><i class="uil uil-user-circle"></i>Profile</a></li>
                <li><a href="folder/folder.html"><i class="uil uil-folder-download"></i>My Folders</a></li>
                <li><a href="#"><i class="uil uil-cloud-check"></i>Active QR Codes</a></li>
                <li><a href="#"><i class="uil uil-clock"></i>History</a></li>
                <li><a href="#"><i class="uil uil-shield"></i>Change Password</a></li>
                <li><a href="#"><i class="uil uil-question-circle"></i>Help</a></li>
            </ul>
        </aside>

        <div class="content">
            <h3>Your activities will appear here</h3>
        </div>
    </div>
</html>