
/* start */
/* Signup Field */

.container{
    max-width: 40%;
    max-width: 40%;    
    padding: 50px 20px;
    margin: 0 auto;
}

.container .mobile-logo {
    display: none;
}

.container .forms{
    padding: 30px;
}

.container .form .title{
    font-size: 37px;
    font-weight: 600;
    text-align: center;
    color: var(--primary-color-300);    
}

.container .form .sub-title{
    color: var(--grey-600);
    font-size: 18px;    
    margin-top: 15px;
    margin-bottom: -15px;    
    text-align: center;    
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{
    font-family: "Outfit", sans-serif;
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding: 0 8px;
    border-radius: 8px;
    border: solid 1px var(--secondary-color-200);
    transition: all 0.3s ease;
    /* color: var(--primary-color-100); */
}  

.input-field input:is(:focus, :valid){
    background-color: #e9e9e9;
}

.input-field i{
    position: relative;
    float: right;
    top: 50%;
    left: 0;
    color: var(--grey-400);
    /* margin-left: -30px;  */
    padding: 0 15px;
    cursor: pointer;
    transform: translateY(-50%);
}

.input-field input:is(:focus, :valid) ~ i{
    color: var(--primary-color-300);
}

.input-field i.showHidePw{
    right: 0;
}



.form .checkbox-text{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    /* display: flex; */
    align-items: center;

}
.checkbox-text .text{
    text-align: center;
}



.checkbox-content input{
    margin: 0 8px 4px;
    accent-color: var(--primary-color-200);
}

.form .text{
    color: var(--secondary-color-400);
    font-size: 14px;
}

.form a.text{
    color: var(--primary-color-200);
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 25px; 
}
.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: var(--primary-color-300);
    cursor: pointer;
    transition: all 0.3 ease;
}

.button input:hover{
    background-color: var(--primary-color-200);
}

.form .login-signup {
    margin-top: 30px;
    text-align: center;
}

.login-signup .text{
    font-size: 17px;
}



@media screen and (max-width: 768px) {
    body {
        background-image: none;
        background-color: #f1f1f1;
    }

    .logo {
        float: none;
        margin-left: 60px;
    }

    .nav-links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        overflow: hidden;
        background-color: var(--secondary-color-200);
        transition: all .5s ease-in-out
    }

    .nav-links ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-links li a {
        font-weight: bolder;
        margin: 10px 0;
        padding: 20px 0;
    }

    .nav-links li a:hover {
        border: none;
        background-color: var(--secondary-color-300);
        transition: all .5s ease;
    }

    .nav-links .nav-button {
        display: none;
    }

    nav .icon-burger {
        display: block;
    }

    .nav-links {
        flex-direction: column;
    }

    nav :checked~.nav-links {
        bottom: 0;
    }

    nav :checked~.icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }

    nav :checked~.icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }

    nav :checked~.icon-burger .line:nth-child(2) {
        opacity: 0;
    }

    .navbar .wrapper {
        display: block;
        padding: 10px 20px;
        text-align: center;
    }

    .Secondary-button {
        margin-right: 0;
    }

    .container {
        max-width: 100%;
        border: none;
    }

    .container .mobile-logo {
        max-width: 30%;
        padding: 50px 0;
        margin: 0 auto;
        display: grid;
        place-self: center;
    }
}