@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

:root {
    --secondary-color-200: #d0dff6;
    --success-color: #10a11f;
    --error-color: #d90f0f;
    --warning-color: #fff849;
    --white: #fffcfc;
    --black-for-texts: #333131;
    --white-2: #fcfeff;
    --secondary-color-100: #e9eff8;
    --secondary-color-300: #87a1c9;
    --secondary-color-400: #6282b2;
    --grey-700: #424447;
    --grey-600: #4f5155;
    --grey-500: #6c6e71;
    --grey-400: #8a8b8e;
    --grey-200: #c4c5c6;
    --primary-color-300: #082553;
    --primary-color-200: #092c64;
    --primary-color-100: #adb9cb;
    --gc-600: #868b8f;
    --wc-1: #fffcfc;
    --desktop-background: url(images/homepage-bg.svg);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(images/homepage-bg.svg);
    background-size: cover;
    
}

h1,
h2,
h3,
h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    margin-bottom: 10px;
}

p,
a {
    font-family: "Outfit", sans-serif;

}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

header {
    background-color: var(--white);
}

header .wrapper {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    line-height: 80px;
    background-color:whitesmoke;
    
    
}

.logo {
    float: left;
    cursor: pointer;
    max-width: 200px;
}

nav {
    float: right;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links ul {
    list-style-type: none;
    color: var(--primary-color-200);
    display: flex;
}

.nav-links li a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    margin: 0 10px;
    color: var(--primary-color-200);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}


.nav-links li a:active {
    border-bottom: 2px solid var(--primary-color-200);
}

.nav-links li a:hover {
    border-bottom: 2px solid var(--secondary-color-400);
    transition: all .5s ease;
}

/* Nav for mobile view */

#nav-toggle {
    position: absolute;
    top: -100px;
}

nav .icon-burger {
    position: absolute;
    left: 5%;
    top: 3%;
    display: none;
    transform: translateY(50%);
}

nav .icon-burger .line {
    width: 30px;
    height: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: var(--primary-color-300);
    transform: translateY(-50%);
    transition: all .3s ease-in-out;
}



/* Buttons */

button a {
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}

.Primary-button {
    padding: 8px 32px;
    border-radius: 8px;
    border: none;
    background-color: var(--primary-color-200);
    color: var(--white);
}


.Primary-button a {
    color: var(--white);
}


.Primary-button:hover {
    background-color: var(--secondary-color-400);
}

.Secondary-button {
    padding: 6px 32px;
    margin-right: 20px;
    border-radius: 8px;
    border: solid 1px var(--grey-600);
    background-color: transparent;

}

.Secondary-button a {
    color: var(--grey-600);
}

.Secondary-button:hover {
    background-color: var(--grey-200);
}


.btn-2 {
    padding: 6px 32px;
    border-radius: 8px;
    border: solid 1px var(--primary-color-300);
    color: var(--primary-color-300);
    background-color: transparent;
}

.btn-2 a {
    color: var(--primary-color-300);
}

.btn-2:hover {
    background-color: var(--secondary-color-200);

}



/* Middle section */

.middle-section {
    text-align: center;
    margin: 72px 0;    
}

.error img{
    height: 300px;
}

.error h1{
    color: black;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 30px;
    text-align:center; 
    margin-top: 10px;  
}

/*.error p{
    color: black;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 14px;
    text-align:center; 
    margin-top: 10px;  

}   */




/* Footer */

footer {
    background-color: var(--primary-color-200);
    color: var(--wc-1);
    font-family: "Outfit", sans-serif;
    padding: 0 100px;
}

footer hr {
    max-width: 1000px;
    margin: auto;
    height: 3px;
    opacity: 0.1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--white);
}


.top_footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    padding-top: 20px;
    margin-bottom: 15px;
}


.top_footer h4 {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.top_footer p {
    font-size: 14px;
    padding-top: 10px;
}

.mail {
    width: 413px;
    padding: 11px 32px;
    margin: 15px 15px 15px 0;
    border-radius: 8px;
    font-family: "Outfit", sans-serif;
    border: solid 1px var(--grey-600);
    color: var(--grey-600);
}

.footer-button {
    padding: 8px 40px;
    border-radius: 8px;
    border: solid 1px var(--grey-600);
    background-color: var(--white);
    font-size: 14px;
    color: var(--primary-color-200);
}

.footer-button a {
    color: var(--grey-600);
}


/* Middle Footer */

.middle_footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-bottom: 15px;
}

.md_footer_info {
    min-width: 30%;
    color: var(--secondary-color-300);
    font-size: 14px;
}

.middle_footer p {
    font-size: 14px;
    color: var(--secondary-color-300);
    line-height: 1.5em;
}

.middle_footer li,
a {
    list-style: none;
    color: var(--secondary-color-300);
    text-decoration: none;
    line-height: 2em;
}

.footer_info p {
    color: var(--wc-1);
    margin-bottom: 10px;
}

.footer_info img {
    margin: 4px;
}

/* Bottom Footer */

.bottom_footer {
    background-color: var(--primary-color-300);
    padding: 15px 0;
    margin-top: 20px;

}

.footer_2 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 14px;
}

.footer_2 span {
    color: var(--secondary-color-400)
}

.footer_2 p {
    width: 80%
}

.bottom_footer a {
    color: var(--wc-1);
    text-decoration: none;
}
@media screen and (max-width:1400px)  {
    .error img{
        height: 300px;
    }
    header .wrapper {
        max-width: 100%;
    
    }
}
@media screen and (max-width: 768px) {
    .logo {
        float: none;
        margin-left: 60px;
    }

    .nav-links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        /* flex-direction: column; */
        overflow: hidden;
        background-color: var(--secondary-color-200);
        transition: all .5s ease-in-out
    }

    .nav-links ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-links li a:hover {
        border: none;
        background-color: var(--secondary-color-300);
        transition: all .5s ease;
    }

    .nav-links .nav-button {
        display: none;
    }

    nav .icon-burger {
        display: block;
    }

    .nav-links {
        flex-direction: column;
    }

    nav :checked~.nav-links {
        bottom: 0;
    }

    nav :checked~.icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }

    nav :checked~.icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }

    nav :checked~.icon-burger .line:nth-child(2) {
        opacity: 0;
    }

    .navbar .wrapper,
    .middle_footer .wrapper,
    .middle_footer .footer_info,
    .middle_footer .md_footer_info {
        display: block;
        padding: 10px 20px;
        text-align: center;
    }
    header .wrapper {
        height: 100px;
    }    

    .mail {
        width: 200px;
    }   
    .Secondary-button {
        margin-right: 0;
    }

   

    .middle_footer {
        display: none;
    }

    .error img{
        max-width: 400px;
    }
    .error p{
        width: 90%;
        font-size:15px;
    
    }
    .error h1{
        width: 90%;
        font-size:20px;
        padding-left: 80px;
    }

}