@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --secondary-color-200: #d0dff6;
    --success-color: #10a11f;
    --error-color: #d90f0f;
    --warning-color: #fff849;
    --white: #fffcfc;
    --black-for-texts: #333131;
    --white-2: #fcfeff;
    --secondary-color-100: #e9eff8;
    --secondary-color-300: #87a1c9;
    --secondary-color-400: #6282b2;
    --grey-700: #424447;
    --grey-600: #4f5155;
    --grey-500: #6c6e71;
    --grey-400: #8a8b8e;
    --grey-200: #c4c5c6;
    --primary-color-300: #082553;
    --primary-color-200: #092c64;
    --primary-color-100: #adb9cb;
    --gc-600: #868b8f;
    --wc-1: #fffcfc;
  }

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('home.svg');
    background-size: 90%;
}

.container{
    position: relative;
    max-width: 630px;
    width: 100%;
    /* border-radius: 8px;
    border: solid 1px var(--secondary-color-200); */
}

.container .forms{
    padding: 30px;
}

.container .form .title{
    /* position: relative; */
    font-size: 37px;
    font-weight: 600;
    text-align: center;
    color: var(--primary-color-300);
    /* align-items: center; */
}

.container .form .sub-title{
    /* position: relative; */
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: -15px;
    /* font-weight: 200; */
    text-align: center;
    color: var(--primary-color-300);
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding: 0 8px;
    border-radius: 8px;
    border: solid 1px var(--secondary-color-200);
    transition: all 0.3s ease;
    /* color: var(--primary-color-100); */
}  

.input-field input:is(:focus, :valid){
    background-color: #e9e9e9;
}

.input-field i{
    position: relative;
    float: right;
    top: 50%;
    left: 0;
    /* margin-left: -30px;  */
    padding: 0 15px;
    cursor: pointer;
    transform: translateY(-50%);
}

.input-field input:is(:focus, :valid) ~ i{
    color: var(--primary-color-300);
}

.input-field i.showHidePw{
    right: 0;
}



.form .checkbox-text{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    /* display: flex; */
    align-items: center;

}
.checkbox-text .text{
    text-align: center;
}



.checkbox-content input{
    margin: 0 8px 4px;
    accent-color: var(--primary-color-200);
}

.form .text{
    color: var(--secondary-color-400);
    font-size: 14px;
}

.form a.text{
    color: var(--primary-color-200);
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 25px; 
}
.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: var(--primary-color-300);
    cursor: pointer;
    transition: all 0.3 ease;
}

.button input:hover{
    background-color: var(--primary-color-200);
}

.form .login-signup {
    margin-top: 30px;
    text-align: center;
}

.login-signup .text{
    font-size: 17px;
}