<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.5/css/unicons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/> -->
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/style.css">
    
    
    <title>Document</title>
</head>
<body>
    <header>
        <div class="wrapper">
          <img class="logo" href="#" src="images/logo.svg" alt="logo" />
          <nav class="navbar">
            <input type="checkbox" name="" id="nav-toggle">
            <div class="nav-links">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Generate QR Code</a></li>
                <li><a href="#">Why us?</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
              <div class="nav-button">
                <button type = "submit" class="Secondary-button"><a href="#">Login</a></button>
                <button type = "submit" class="Primary-button"><a href="#">Get Started</a></button>
              </div>
            </div>            
            <label for="nav-toggle" class="icon-burger"> 
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div> 
            </label>  
          </nav>
        </div> 
    </header>

    
    <div class="container">
        <!-- First section -->
        <div class="hero">
            <h3>About Us</h3>
            <p>Quickly and easily generate secure,dynamic,trackable<br/>
                QR codes to optimize your engagement levels for<br/>
                personal or business needs
            </p>
        </div>

        <!-- Second section -->
        <div class="grid">
            <div class="box">
                <img src="table.png" alt="display">
            </div>

            <div class="content">
                <h4>More About Us</h4>
                <p>QR Planet was created in 2022, with the<br/>
                    sole purpose of allowing users quickly<br/>
                    and easily generate secure, dynamic<br/>
                    trackable qr codes.
                </p>
            </div>
        </div>

        <div class="our-team">
            <h2 class="team-item">Our team</h2>
            <p class="team-desc">qrplanet.io is powered by a highly efficient and productive team of professionals</p>
        </div>

        <!-- third section -->
            <div class="slide-container swiper">
                <div class="slide-content">
                    <div class="card-wrapper swiper-wrapper">
                        <div class="card swiper-slide">
                            <div class="image-content">
                                
        
                                <div class="card-image">
                                    <img src="img/topey.jpg" alt="tope" class="card-img">
                                    
                                </div>
                            </div>
        
                            <div class="card-content">
                                <h4 class="name">Yusuff Temitope</h4>
                                <p class="description">Team Lead</p>
                                <div class="icons">
                                    <i class="uil uil-facebook-f"></i>
                                    <i class="uil uil-twitter-alt"></i>
                                    <i class="uil uil-linkedin-alt"></i>
                                </div>
                                
                            </div>
                        </div>
                        <div class="card swiper-slide">
                            <div class="image-content">
                                
        
                                <div class="card-image">
                                    <img src="img/bhorie.png" alt="bhorie" class="card-img">
                                    
                                </div>
                            </div>
        
                            <div class="card-content">
                                <h4 class="name">Odekunle Toluwabori</h4>
                                <p class="description">Assistant Team Lead</p>
                                <div class="icons">
                                    <i class="uil uil-facebook-f"></i>
                                    <i class="uil uil-twitter-alt"></i>
                                    <i class="uil uil-linkedin-alt"></i>
                                </div>
                                
                            </div>
                        </div>
                        <div class="card swiper-slide">
                            <div class="image-content">
                               
        
                                <div class="card-image">
                                    <img src="img/nick.jpg" alt="nick" class="card-img">
                                    
                                </div>
                            </div>
        
                            <div class="card-content">
                                <h4 class="name">Wisdom Emmanuel</h4>
                                <p class="description">Engineering Lead</p>
                                <div class="icons">
                                    <i class="uil uil-facebook-f"></i>
                                    <i class="uil uil-twitter-alt"></i>
                                    <i class="uil uil-linkedin-alt"></i>
                                </div>
                                
                            </div>
                        </div>
                        <div class="card swiper-slide">
                            <div class="image-content">
                                
        
                                <div class="card-image">
                                    <img src="img/gbemi.jpg" alt="gbemi" class="card-img">
                                    
                                </div>
                            </div>
        
                            <div class="card-content">
                                <h4 class="name">Aseperi Gbemisoke</h4>
                                <p class="description">Product Lead</p>
                                <div class="icons">
                                    <i class="uil uil-facebook-f"></i>
                                    <i class="uil uil-twitter-alt"></i>
                                    <i class="uil uil-linkedin-alt"></i>
                                </div>
                                
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
    
                
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>


        
        

    </div>


<!-- <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script> -->
<script src="script.js"></script>
<script src="swiper-bundle.min.js"></script>
</body>


</html>