<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Columns</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="./Layout task/images/favicon-32x32.png"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="./contact-us.css" class="css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1>We value your feedback <span class="highlight">!</span></h1>
      <p>Have questions, comments or complaints? We are all ears</p>
      <div>
        <input type="text" name="name" placeholder="Fullname" id="required" />
      </div>
      <div>
        <input type="email" name="email" placeholder="Email" id="required" />
      </div>
      <div>
        <input
          type="text"
          name="name"
          placeholder="Subject of mail"
          id="required"
        />
      </div>
      <div>
        <textarea
          name="message"
          placeholder="Enter your message"
          id="required"
        ></textarea>
      </div>
      <button class="Primary-Button">Send your message</button>
      <div class="socials">
        <img src="Twitter.png" alt="Twitter" />
        <img src="Facebook.png" alt="Facebook" />
        <img src="Linkedin.png" alt="Linkedin" />
      </div>
    </div>
  </body>
</html>
