<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact-us</title>
    <link rel="stylesheet" href="./contact-us.css" class="css" />
  </head>
  <body>
    <div class="container">
      <h1>We value your feedback <span class="highlight">!</span></h1>
      <p>Have questions, comments or complaints? We are all ears</p>
      <div>
        <input type="text" name="name" placeholder="Fullname" id="required" />
      </div>
      <div>
        <input type="email" name="email" placeholder="Email" id="required" />
      </div>
      <div>
        <input
          type="text"
          name="name"
          placeholder="Subject of mail"
          id="required"
        />
      </div>
      <div>
        <textarea
          name="message"
          placeholder="Enter your message"
          id="required"
        ></textarea>
      </div>
      <button class="Primary-Button">Send your message</button>
      <div class="socials">
        <img src="Twitter.png" alt="Twitter" />
        <img src="Facebook.png" alt="Facebook" />
        <img src="Linkedin.png" alt="Linkedin" />
      </div>
    </div>
  </body>
</html>
