<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QRplanet</title>
    <link rel="stylesheet" href="./css/homepage.css" />
  </head>

  <body>
    <header>
        <div class="wrapper">
          <img class="logo" href="#" src="images/logo.svg" alt="logo" />
          <nav class="navbar">
            <input type="checkbox" name="" id="nav-toggle">
            <div class="nav-links">
              <ul>
                <li><a href="#" class="active-page">Home</a></li>
                <li><a href="#">Generate QR Code</a></li>
                <li><a href="#">Why us?</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
              <div class="nav-button">
                <button type = "submit" class="Secondary-button"><a href="#">Login</a></button>
                <button type = "submit" class="Primary-button"><a href="#">Get Started</a></button>
              </div>
            </div>            
            <label for="nav-toggle" class="icon-burger"> 
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div> 
            </label>  
          </nav>
        </div> 
    </header>
    
    <section class="hero-bg">
      <div class="hero-section">
        <div class="wrapper">
            <div class="hero-text">
              <div class="hero-head">
                <div>The <span class="highlight">#1</span></div>                     
                  <div class="slider">
                    <div> Fast</div>
                    <div> Dynamic</div>
                    <div> Secure</div>
                  </div>                
              </div>
              <div class="hero-head2">
                QR Code Generator <br>for everyone 
                <p>Stand out with quality trackable QR codes for an every expanding usecase</p> 
              </div>
            </div> 
            <img src="images/hero_img.svg" alt="img">   
            </div>
            <div class="wrapper">
              <div class="hero-button">
              <button class="Primary-button"> <a href=""> Get started </a></button>
              <button class="btn-2"> <a href=""> Learn more </a></button>
            </div> 
        </div>
      </div>
    </section>

<section class="middle-section">
    <div class="wrapper">
        <div class="Why-Qr">
          <div class="heading">Why QR Planet <span>?</span></div>
          <div class="text">Qr Planet offers seamless and efficient generation of qr codes. You can <br />
            create various styles for your qr codes using the various designs<br/> available.</div>
        </div>
    
        <div class="Get-onboard">
          <div class="heading">Get Onboard<span>!</span></div>
          <div class="text">Simple Steps, Endless Possibilities.</div>

            <div class="process">
                <div class="top-curve">
                <img src="images/Curve 1.svg" alt="curve1">
                </div>
  
                <div class="cards">
                <div class="first card">
                    <div class="register">
                    <img src="images/Register.svg" alt="reg">
                    </div>
                    <p>Register</p>
               </div>    
    
                <div class="second card">
                    <div class="feature">
                    <img src="images/Features.svg" alt="feature">
                    </div>
                    <p>Choose a feature</p>
                </div>
        
                <div class="third card">
                    <div class="option">
                    <img src="images/options.svg" alt="options">
                    </div>
                    <p>Set Options</p>
                </div>
    
                <div class="fourth card">
                    <div class="qr">
                    <img src="images/qr.svg" alt="QR">
                    </div>
                    <p>Generate QR</p>
                </div>
            </div>

            <div class="bottom-curve">
              <div class="curve2"><img src="images/Curve 2.svg" alt="curve2"></div>
              <div class="curve3"><img src="images/Curve 2.svg" alt="curve2"></div>
            </div>
          </div>
  
          <button type = "submit" class="Primary-button"><a href="#">Get Started</a></button> 
        </div>
    
        <div class="What-we-do">  
            <div class="heading">What We Do</div>  
            <div class="text">
            Quickly and easily generate secure, dynamic, trackable QR codes to
            optimize your engagement levels for <br> personal or business needs.          
            </div>   

            <div class="all-features">
          
          <div class="features">
            <img src="/icons/Bitcoin.svg" alt="bitcoin">
            <p>Bitcoin payment</p>            
          </div>

          <div class="features">
            <img src="/icons/Business-cards.svg" alt="business-cards">
            <p>Business cards</p>            
          </div>

          <div class="features">
            <img src="/icons/Wifi.svg" alt="Wifi-connect">
            <p>Wifi connect</p>            
          </div>     

          <div class="features">
            <img src="/icons/Product-description.svg" alt="Product-description">
            <p>Product description</p>            
          </div>

          <div class="features">
            <img src="./icons/Website.svg" alt="Website-homepage">
            <p>Website homepage</p>            
          </div>

          <div class="features">
            <img src="/icons/URLS.svg" alt="URLs">
            <p>URLs</p>            
          </div>

          <div class="features">
            <img src="/icons/Mail.svg" alt="Mail-to">
            <p>Mail to</p>            
          </div>

          <div class="features">
            <img src="/icons/plain text.svg" alt="Plain text">
            <p>Plain text</p>          
        </div>

          <div class="features">
            <p>More...</p>
          </div>

        </div>

        </div>
        </div>
    </div>
</section>

<!-- Footer -->

    <footer>
        <div class="top_footer">
            <div class="wrapper">
                <div class="">
                    <h4>Don't miss out!</h4>
                    <p>Do you like discounts, specials offers and rewards?</p>
                </div>
                <form>
                    <input type="email" class="mail" placeholder="Email" name="" id="">
                    <button type="submit" class="footer-button"> <a href="#"> Subscribe Now</a></button>
                </form>
            </div>
        </div>        
        <hr>

        <div class="middle_footer">
            <div class="wrapper">
                <div class="md_footer_info">
                    <p>Enjoy seamless and efficient generation of qr <br> codes. Create various styles for your qr codes using <br> the various designs available</p>
                </div>

                <div class="footer_info">
                    <p>QR Planet</p>
                    <ul>
                        <li><a href="#">How to generate QR codes</a></li>
                        <li><a href="#">Dynamic QR codes</a></li>
                        <li><a href="#"></a>Static QR codes</li>
                    </ul>
                </div>

                  <div class="footer_info">
                    <p>Why us?</p>
                    <ul>
                        <li><a href="#">Product features</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#"></a>FAQs</li>
                    </ul>
                </div>

                  <div class="footer_info">
                    <p>API</p>
                    <ul>
                        <li><a href="#">API docs</a></li>
                    </ul>
                </div>

                  <div class="footer_info">
                    <p>Contact</p>
                    <img src="./images/Twitter.png" href="#" alt="Twitter" height="24px"/>
                    <img src="./images/Facebook.png" href="#" alt="Facebook" height="24px" />
                    <img src="./images/Linkedin.png" href="#" alt="Linkedin" height="24px" />                    
                </div>            
            </div>  
        </div>
        <div class="bottom_footer">
            <div class="wrapper">
                <div class="footer_2">
                    <p><span>2022</span> QR Planet; All Rights Reserved</p>
                    <a href="#">Report</a>
                </div>
            </div>

        </div>
    </footer>
    
  </body>
</html>
