<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.5/css/unicons.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="forms">
            <div class="form login">
                <p class="title">Sign Up</p>
                <p class="sub-title">Please fill in this form to create an account</p>
                <form action="#">
                    <div class="input-field">
                        <input type="text" placeholder="Enter your fullname" required>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Enter your email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" placeholder="Enter your password" required>
                        <i class="uil uil-eye-slash showHidePw" ></i>
                    </div>
                    <div class="input-field">
                        <input type="password" placeholder="Confirm your password" required>
                        <i class="uil uil-eye-slash showHidePw" ></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">I accept the <a href="#">Terms of use & Privacy Policy</a></label>
                        </div>
                    </div>

                    <div class="input-field button">
                        <input type="button" value="Sign Up" required>
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Already have an account?
                        <a href="#" class="text signup-text">Login</a>
                    </span>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>