{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
</head>
<body>
    <header class="">
        <div class="class">
            <a href="{% url 'accounts:index' %}"><img src="{% static 'qr_logo.png' %}" alt="qr_logo" height="40px" width="40px"></a>
        </div>
        <div class="class">
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'accounts:index' %}">Home</a>
                    </li>
                    <li>
                        <a href="#">Pricing</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <form class="d-flex" id="authstyle">
      {% if user.is_authenticated %}
        {% csrf_token %}
        <a href="{% url 'accounts:dashboard' %}" class="btn" type="submit" id="header-links"> Dashboard </a>
        <a href="{% url 'accounts:logout' %}" class="btn" type="submit" id="header-links"> Logout </a>
      {% else %}
        <a href="{% url 'accounts:register' %}" class="btn" type="submit" id="header-links"> Get Started </a>
        <a href="{% url 'accounts:login' %}" class="btn"  type="submit" id="header-links">Log In</a>
      {% endif %}
      </form>
  </div>
    </header>
    <section class="">
        {% block content %}

        {% endblock %}
    </section>
    <footer class="">
        <p><h1>Footer goes here</h1></p>
    </footer>
</body>
</html>