{% extends 'accounts/base.html' %}

{% block content %}
<div class="background">
    <!-- <img src="background.svg" alt="background"> -->
    <div class="question">
      <h4>Have a question</h4>

      <span class="span">?</span>
    </div>
    <div class="text">
      Browse our knowledge base below or use the button below to send a custom
      message
    </div>

    <div class="big">


      <div class="FAQ1">
        <h4 class="faq-text1">
          Is QR Planet free?
          <span><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="500px"
              height="530px" color="#87a1c9" viewBox="0 0 448 512"
              class="svg"><path color="#87a1c9" d="M432 256c0 17.69-14.33
                32.01-32 32.01H256v144c0 17.69-14.33 31.99-32
                31.99s-32-14.3-32-31.99v-144H48c-17.67
                0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69
                14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432
                238.3 432 256z" /></svg></span>
          </h4>
        </div>

        <div class="FAQ1">
          <h4 class="faq-text1">
            Is the API easily integratable? <span><svg
                xmlns="http://www.w3.org/2000/svg" width="500px"
                height="500px" color="#87a1c9" viewBox="0 0 448 512"
                class="svg"><path color="#87a1c9" d="M432 256c0 17.69-14.33
                  32.01-32 32.01H256v144c0 17.69-14.33 31.99-32
                  31.99s-32-14.3-32-31.99v-144H48c-17.67
                  0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69
                  14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432
                  238.3 432 256z" /></svg></span>
            </h4>

          </div>
        </div>

        <div class="big">


          <div class="FAQ1">
            <h4 class="faq-text1">
              Who can use QR Planet? <span><svg
                  xmlns="http://www.w3.org/2000/svg" width="500px"
                  height="500px" color="#87a1c9" viewBox="0 0 448 512"
                  class="svg"><path color="#87a1c9" d="M432 256c0 17.69-14.33
                    32.01-32 32.01H256v144c0 17.69-14.33 31.99-32
                    31.99s-32-14.3-32-31.99v-144H48c-17.67
                    0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69
                    14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224
                    432 238.3 432 256z" /></svg></span>
              </h4>

            </div>

            <div class="FAQ1">
              <h4 class="faq-text1">
                Is QR Planet secure? <span><svg
                    xmlns="http://www.w3.org/2000/svg" width="500px"
                    height="520px" color="#87a1c9" viewBox="0 0 448 512"
                    class="svg"><path color="#87a1c9" d="M432 256c0
                      17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33
                      31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67
                      0-32-14.32-32-32.01s14.33-31.99
                      32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32
                      32 32.01v144h144C417.7 224 432 238.3 432 256z" /></svg></span>
                </h4>

              </div>
            </div>

            <div class="big">


              <div class="FAQ1">
                <h4 class="faq-text1">
                  Can the QR codes gernerated
                  be used commercially? <span><svg
                      xmlns="http://www.w3.org/2000/svg" width="500px"
                      height="520px" color="#87a1c9" viewBox="0 0 448 512"
                      class="svg"><path color="#87a1c9" d="M432 256c0
                        17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33
                        31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67
                        0-32-14.32-32-32.01s14.33-31.99
                        32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32
                        14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"
                        /></svg></span>
                  </h4>

                </div>

                <div class="FAQ1">
                  <h4 class="faq-text1">
                    Is there any restriction to
                    use of QR codes? <span><svg
                        xmlns="http://www.w3.org/2000/svg" width="500px"
                        height="550px" color="#87a1c9" viewBox="0 0 448 512"
                        class="svg"><path color="#87a1c9" d="M432 256c0
                          17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33
                          31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67
                          0-32-14.32-32-32.01s14.33-31.99
                          32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32
                          14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"
                          /></svg></span>
                    </h4>

                  </div>
                </div>

              </div>
{% endblock %} 