{% extends 'base/base.html'%}
{% load static%}

<!-----------------Leave here for header------------->
{% block title %} {{ block.super }} &#124; Login {% endblock title %}

<!-------------------end header---------------------->

{% block footer_adjust %}
<style>
    #footer {
      position: fixed;
      padding: 10px 10px 0px 10px;
      bottom: 0;
      width: 100%;

  }
</style>
{% endblock footer_adjust%}

{%block style %}
	<link rel="stylesheet" href="{% static 'accounts/css/login.css'%}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.5/css/unicons.css">
{% endblock style %}


{% block content %}

    <div class="container">
        <div class="forms">
            <div class="form login">
                <p class="title">Welcome</p>
                <p class="sub-title">We're happy to have you back</p>
                <form action="" method="post">
                    {% csrf_token%}
                    <div class="input-field">
                        <input type="email" name="username" placeholder="Enter your email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" name="password" placeholder="Enter your password" required>
                        <!-- <i class="uil uil-lock icon"></i> -->
                        <i class="uil uil-eye-slash showHidePw" ></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Keep me logged in</label>    <!--Fix this later-->
                        </div>

                        <a href="{% url 'accounts:password_reset'%}" class="text">Forgot password?</a>
                    </div>

                    <div class="input-field button">
                        <input style="background-color: blue;" type="submit" value="submit" required >
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Not yet registered&quest;
                        <a href="{% url 'accounts:register'%}" class="text signup-text">Sign Up</a>
                    </span>
                </div>
            </div>
        </div>
    </div>    

    <script src="{% static 'accounts/js/custom/validate_login.js' %}"></script>
)
      </script>
    <script>
        var form_fields = document.getElementsByTagName("input");
        form_fields[1].placeholder = "Enter your Email...";
        form_fields[2].placeholder = "Enter password...";
    
        for (var field in form_fields) {
        form_fields[field].className += " form-control";
        }
    </script>
    {% endblock content %}

<!-----------------Leave here for footer--------->
{% block bottom_footer %} {% include 'base/bottom_footer.html' %} {% endblock bottom_footer %}
<!-------------------end footer---------------------->