{% extends 'qr_generator/index.html'%}

{% load static%}

{% block style %}
    <link rel="stylesheet" href="{% static 'accounts/css/Login.css'%}">
{% endblock style %}

{% block title %} {{ block.super }}&nbsp;&#124;&nbsp;Sign&nbsp;Up&nbsp;{% endblock title %}

{% block content %}

<div class="container">
  <div class="mobile-logo">
    <img src="{% static 'accounts/images/mobile_logo.png'%}" alt="Logo" />
  </div>
  <div class="forms">
    <div class="form login">
      <p class="title">Sign Up</p>
      <p class="sub-title">Please fill in this form to create an account</p>
      <form action="{% url 'accounts:register'%}" method="post">
        {% csrf_token %}
        <div class="input-field">
          {{ form.username }}
        </div>
        <div class="input-field">
          {{form.email}}
          <i class="uil uil-envelope icon"></i>
        </div>
        <div class="input-field">
          {{form.password1}}
          <i class="uil uil-eye-slash showHidePw"></i>
        </div>
        <div class="input-field">
          {{form.password2}}
          <i class="uil uil-eye-slash showHidePw"></i>
        </div>

        <div class="checkbox-text">
          <div class="checkbox-content">
            <input type="checkbox" id="logCheck" />
            <label for="logCheck" class="text"
              >I accept the
              <a href="#">Terms of use & Privacy Policy</a></label
            >
          </div>
        </div>

        <div class="input-field button">
          <input type="submit" value="Sign Up" required />
        </div>
      </form>

      <div class="login-signup">
        <span class="text"
          >Already have an account?
          <a href="{% url 'accounts:login'%}" class="text signup-text">Login</a>
        </span>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'accounts/js/custom/validate_registration.js' %}"></script>
<script>
    var form_fields = document.getElementsByTagName("input");
    form_fields[2].placeholder = "Enter a Username..";
    form_fields[3].placeholder = "Enter your Email..";
    form_fields[4].placeholder = "Enter your password...";
    form_fields[5].placeholder = "Confirm your password...";
    
    for (var field in form_fields) {
    form_fields[field].className += " form-control";
    }
    </script>

{% endblock content%}

{# Override top and middle footer#}

{% block top_footer %}{% endblock top_footer %}
{% block middle_footer %}{% endblock middle_footer %} 
