<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="faq.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://kit.fontawesome.com/df0e5117af.js" crossorigin="anonymous"></script>
  
  
  <title>QR Generator FAQ</title>
</head>

<body>

  <!-- header -->
  <header>
    <div class="wrapper">
      <img class="logo" href="#" src="images/logo.svg" alt="logo" />
      <nav class="navbar">
        <input type="checkbox" name="" id="nav-toggle">
        <div class="nav-links">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">QR Code</a></li>
            <li><a href="#">Why us?</a></li>
            <li><a href="#">API</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <div class="nav-button">
            <button type = "submit" class="Secondary-button"><a href="#">Login</a></button>
            <button type = "submit" class="Primary-button"><a href="#">Get Started</a></button>
          </div>
        </div>            
        <label for="nav-toggle" class="icon-burger"> 
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div> 
        </label>  
      </nav>
    </div> 
  </header>

  <!-- faq body -->
  <div class="wrapper">
    <div class="top-section">
      <h2>Have a question<span>?</span></h2>
      <p class="text1">Browse our knowledge base below or use the button below to send a custom message.</p>
    </div>

    
    <div class="btn-group">
      <div class="accordion">
        <div class="contentbox">
          <div class="label">Is QR planet free?</div>
          <div class="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, eius.
          </div>
        </div>  

        <div class="contentbox">
          <div class="label">Is the API easily integratable?</div>
          <div class="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, eius.
          </div>
        </div>  

        <div class="contentbox">
          <div class="label">Who can use QR Planet?</div>
          <div class="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, eius.
          </div>
        </div>  

        <div class="contentbox">
          <div class="label">Is QR Planet Secure?</div>
          <div class="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, eius.
          </div>
        </div>  

        <div class="contentbox">
          <div class="label">Can the QR codes gernerated
            be used commercially?</div>
          <div class="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, eius.
          </div>
        </div>  

        <div class="contentbox">
          <div class="label">Is there any restriction to<br />
            use of QR codes?</div>
          <div class="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, eius.
          </div>
        </div>  
      </div>
    </div>

    <div class="ask-question">
      
      <button type = "submit" class="Primary-button btn-3"><a href="#">Ask A Question</a></button> 
    </div>

    <div class="Get-onboard">
      <h2>Get Onboard <span>!</span></h2>
      <p>Simple Steps, Endless possibilities</p>
    </div>
    
    <div class="process">
      <div class="top-curve">
        <img src="images/Curve 1.svg" alt="curve1">
      </div>

      <div class="cards">
        <div class="first card">
          <div class="register">
            <img src="images/Register.svg" alt="reg">
          </div>
          <p>Register</p>
         </div>


        <div class="second card">
          <div class="feature">
            <img src="images/Features.svg" alt="feature">
          </div>
          <p>Choose a feature</p>
        </div>

        <div class="third card">
          <div class="option">
            <img src="images/options.svg" alt="options">
          </div>
          <p>Set Options</p>
        </div>

        <div class="fourth card">
          <div class="qr">
            <img src="images/qr.svg" alt="QR">
          </div>
          <p>Generate QR</p>
        </div>
      </div>

      <div class="bottom-curve">
        <div class="curve2"><img src="images/Curve 2.svg" alt="curve2"></div>
        <div class="curve3"><img src="images/Curve 2.svg" alt="curve2"></div>
      </div>
    </div>


    <div class="get-started">
      
      <button type = "submit" class="Primary-button"><a href="#">Get Started</a></button> 
    </div>
  </div>

  
  <footer>
    <div class="top_footer">
      <div class="wrap">
        <div class="top-wrap">
          <h4>Don't miss out!</h4>
          <p>Do you like discounts, specials offers and rewards?</p>
        </div>
        <form>
          <input type="email" class="mail" placeholder="Email" name="" id="">
          <button type="submit" class="footer-button"> <a href="#"> Subscribe Now</a></button>
        </form>
      </div> 
    </div>       
    <hr>

    <div class="middle_footer">
      <div class="wrapper">
        <div class="md_footer_info">
            <p>Enjoy seamless and efficient generation of qr <br> codes. Create various styles for your qr codes using <br> the various designs available</p>
        </div>

        <div class="footer_info">
          <p>QR Planet</p>
          <ul>
            <li><a href="#">How to generate QR codes</a></li>
            <li><a href="#">Dynamic QR codes</a></li>
            <li><a href="#"></a>Static QR codes</li>
             
          </ul>
        </div>

        <div class="footer_info">
          <p>Why us?</p>
          <ul>
            <li><a href="#">Product features</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#"></a>FAQs</li>
             
          </ul>
           
        </div>

        <div class="footer_info">
          <p>API</p>
          <ul>
            <li><a href="#">API docs</a></li>
          </ul>
        </div>

        <div class="footer_info">
          <p>Contact</p>
          <img src="images/Twitter.png" alt="Twitter" height="24px"/>
          <img src="images/Facebook.png" alt="Facebook" height="24px" />
          <img src="images/Linkedin.png" alt="Linkedin" height="24px" />                    
        </div>            
      </div>
    </div>

    <div class="bottom_footer">
      <div class="wrapper">
        <div class="footer_2">
          <p><span>2022</span> QR Planet; All Rights Reserved</p>
          <a href="#">Report</a>
        </div>
           
      </div>
    </div>

  </footer>

  <script src="script.js"></script>

</body>

</html>